<%# https://github.com/asciidoctor/asciidoctor-backends/blob/master/erb/html5/document.html.erb %>

<!DOCTYPE html>

<html lang="en">
    <head>

        <!-- asciidoctor -a coderay-css=class,linkcss,source-highlighter=coderay -b html5 -D . /dev/null -->
        <link href="/css/asciidoctor.css" rel="stylesheet"/>
        <link href="/css/asciidoctor-coderay.css" rel="stylesheet"/>

        <!-- http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css -->
        <link href="/css/font-awesome.min" rel="stylesheet"/>

        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <% [:description, :keywords, :author, :copyright].each do |key| %>
            <% if attr? key %>
                <meta name="<%= key %>" content="<%= attr key %>">
            <% end %>
        <% end %>

        <style>

            #footer {
                background-color: inherit;
                text-align: right;
            }

            .gsc-search-button {
                box-sizing: content-box;
                -webkit-box-sizing: content-box;
            }

        </style>

        <title><%= doctitle(:sanitize => true) || "CS50 Manual" %></title>

    </head>

    <body class="<%= [(attr :doctype),((attr? 'toc-class') && (attr? :toc) && (attr? 'toc-placement', 'auto') ? %(#{attr 'toc-class'} toc-#{attr 'toc-position', 'left'}) : nil)].compact * ' ' %>">

        <div>
            <script>
                (function() {
                    var cx = '017253632348184728259:xgoc3uuwm2s';
                    var gcse = document.createElement('script');
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                        '//www.google.com/cse/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:searchbox-only></gcse:searchbox-only>
        </div>

        <% unless noheader %>

            <div id="header">
                <% if has_header? %>
                    <% unless notitle %>
                        <h1><%= @header.title %></h1>
                        <% unless @header.title == 'CS50 Manual' %>
                            <span class="author">in the <a href="/">CS50 Manual</a></span>
                        <% end %>
                    <% end %>
                <% end %>
                <% if (attr? :toc) && (attr? 'toc-placement', 'auto') %>
                    <div id="toc" class="<%= attr 'toc-class', 'toc' %>">
                        <div id="toctitle"><%= attr 'toc-title' %></div>
                        <%= ::Asciidoctor::HTML5::DocumentTemplate.outline(self, (attr :toclevels, 5).to_i) %>
                    </div>
                <% end %>
            </div>
        <% end %>

        <div id="content">
            <%= content %>
        </div>
        
        <% unless !footnotes? || attr?(:nofootnotes) %>
            <div id="footnotes">
                <hr/>
                <% footnotes.each do |fn| %>
                    <div class="footnote" id="_footnote_<%= fn.index %>">
                        <a href="#_footnoteref_<%= fn.index %>"><%= fn.index %></a>. <%= fn.text %>
                    </div>
                <% end %>
            </div>
        <% end %>

        <div id="footer">
            Copyright &#169; <%= Time.new.year %>, CS50
        </div>

        <script>

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8162502-39']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>
